@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Palette Tisséo */
  --tisseo-pink: #e5056e;
  --tisseo-violet: #2d1d67;
  --tisseo-red: #eb3131;
  --tisseo-orange: #fa671a;
  --gray-light: #f5f5f5;
  --gray-medium: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Couleurs Tisséo */
  --color-tisseo-pink: var(--tisseo-pink);
  --color-tisseo-violet: var(--tisseo-violet);
  --color-tisseo-red: var(--tisseo-red);
  --color-tisseo-orange: var(--tisseo-orange);
  --color-gray-light: var(--gray-light);
  --color-gray-medium: var(--gray-medium);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
